body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px "敺株蔓��暺�","Arial Narrow",HELVETICA;-webkit-text-size-adjust:100%;}
a { 
  color:#172c45;
  text-decoration:none;
  }
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}


.mian{max-width:1080px;width:100%;margin:0px auto;background:#fff;}
.picc{ width:100%;}
.picc ul li{float:left;}

.mian .pic img{width:100%}
.pic {
	position:relative;
	width:100%;
	height:auto;
}
.pic0 {
	text-align: center;
	padding-top: 6px;
	padding-bottom: 36px;
}
.pic0 h1{color: #49c9fb;  font-size: 30px; text-align: center;cursor: pointer;}
.yijian {
	color:#090;
	text-align:center;
	font-size:16px;
}
.pic2 {
	position:absolute;
	width:19%;
	height:13%;
	z-index:2;
	margin-top:-30%;
	margin-left:53.5%;
}
.pic3 {
	position:absolute;
	width:19%;
	height:13%;
	z-index:2;
	margin-top:-30%;
	margin-left:74.8%;
}
.pic4 {
	position:absolute;
	width:40.5%;
	height:59%;
	z-index:2;
	margin-top:-18.5%;
	margin-left:30%;
}
.notea{display: block;min-height: 72%;position: absolute;top: 12%;right: 12px;}
.notebox{overflow: hidden;border: #00b9fa 1px solid;border-radius: 27px;}
.notebox h3{text-align: center;}
.notebox h4{text-align: right;padding-right: 20px}
@media (max-width: 1080px) {
	.notea{width: 45vw;}
	.notebox{padding: .6vw;}
	.notebox h3{font-size: 2vw;}
	.notebox h4{font-size: 1.6vw;}
	.notebox p{font-size: 1.8vw;}
}
@media (min-width: 1080px) {
	.notea{width: 430px;}
	.notebox{padding: 10px;}
	.notebox h3{font-size: 29px;}
	.notebox h4{font-size: 23px;}
	
}